* {
    margin: 3px;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    background-image: url('../../assets/fundo.jpg');
}

#box-container {
    margin: 50px auto 0;
}

#box-container header{
    display: flex;
    justify-content: center;
    align-items: center    
}

#box-container header h1{
    font-size: 21px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}

#box-container header img{
    width: 100px;
}


#box-container ul {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    list-style: none;
}

#box-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    flex: 1;
}

.titulo {
    font-weight: bold;
    color: #555 !important;
    font-size: 18px !important;
}

#box-container ul li + li{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #eee;;
}

#box-container ul li:nth-child(1) b{
    background-color: green;
}

#box-container ul li b{
    color:#fff;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
}


#box-container ul li span{
    color:#999;
    font-size: 13px;
}

